.ui.form {
  .field {
    .ui.input input {
      background-color: $background-secondary;
      border-color: $background-secondary;
      color: $font-light;

      &:hover,
      &:active,
      &:focus {
        background-color: $background-secondary;
      }
    }

    .ui.button.primary {
      background-color: $primary-color;
      color: $font-light;
      border-radius: 100px;
    }
  }

  .field.error {
    .ui.input {
      input {
        background-color: $background-secondary;
        border-color: 1px solid $danger;
        color: $danger;
      }

      i {
        color: $danger;
      }
    }
  }
}
